@import "compass/css3";
// styles for the porfolio bouncing arrow
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateX(0));
  }
  40% {
    @include transform(translateX(-50px));
  }
  60% {
    @include transform(translateX(-50px));
  }
}
.arrow {
  position: relative;
  left: 21%;
  width: 15px;
  height: 15px;
  background-size: contain;
}
//col-
@media (max-width: 576px){
  .arrow {
    left: 15%;
  }
}
//col-lg
@media (min-width: 992px) and (max-width: 1199px){
  .arrow {
    left: 15%;
  }
}
//col-xl
@media (min-width: 1200px){
  .arrow {
    left: 8%;
  }
}
.bounce {
  @include animation(bounce 3s infinite);
} 
.arrow_invisible{
  // display: none;
  visibility: hidden;
}