
.hide_me{
	opacity: 0;	
	background-color: #f7f7f7;
}

// @media(min-width: 1000px){
// 	.home_about{
// 		.row{
// 			margin-left: 10rem;
// 		}
// 	}
// }
// @media(min-width: 1400px){
// 	.home_about{
// 		.row{
// 			margin-left: 25rem;
// 		}
// 	}
// }

// break point for col-md 
@media (min-width: 768px) and (max-width: 991px){
	.home_about{
		padding: 2rem;
		.row{
			width: 65%;
			margin: 0 auto;
			padding: 2rem;
		}
		img{
			// margin-left: 2rem;
			// height: 90%;
			padding: .5rem;
		}
	}
}