.home_about{
	img{
			width: 300px;
			height: 300px;
			margin: 0 auto;
		}
		p{
			padding: 1.5rem;
			border-radius: 1rem;
		}
		.img-thumbnail{
			border-radius: 1rem;
		}
}
.hide_me{
	opacity: 0;	
	background-color: #f7f7f7;
}
//Styles for the home page About section
// col-sm text is 7 and image is 5
@media (min-width: 577px) and (max-width: 767px){
	.home_about{
		p{
			width: 80%;
			margin: 0 auto;
		}
		img{
			width: 250px;
			height: 250px;
		}
	}
}
//col-xl text is 8 image is 4
@media (min-width: 1200px){
	.home_about{
		p{
			width: 80%;
			margin: 0 auto;
		}
		img{
			width: 300px;
			height: 300px;
		}
	}
}