@mixin backImageCover($image,$height :100vh){
	background:	url($image);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: $height;
}
@mixin backImageContain($image,$height :100vh){
	background: url($image);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: $height;
}