//Styles for the home page Navigation section
// Break point for screens larger than 768 pixels
@media(min-width: 768px){
	nav{
	  	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	  	height: 100px;
	  	// Styles for hover effects
		  	.navbar-nav{
		  	  	height: 100px;
		  	  	width: 100%;
		  	}
		  	.nav-item{
		  		width: 50%;
		  		border-bottom: 1px solid white;
		  		border-top: 1px solid white;
		  		height: 60px;
		  		margin: 20px 10px;
		  		transition: height .3s;
		  			&:hover{
		  				height: 70px;
		  			}
		  	}
	}
}
// Break point for screens smaller than 767 pixels
@media (max-width: 767px) {
	.navbar-nav{

	}
	.nav-item{
		margin: 0 auto;
		-webkit-transition:  border-right 3s ease,border-left .5s ease;
 		-moz-transition:  border-right 3s ease,border-left .5s ease;
 		-o-transition:  border-right 3s ease,border-left .5s ease;
 		-ms-transition: border-right 3s ease,border-left .5s ease;
 		transition: border-right .5s ease-in,border-left .5s ease-in; 
 		border-right: 1px solid transparent;
 		border-left: 1px solid transparent;
		&:hover{
			border-right: 1px solid white;
			border-left: 1px solid white;
		}
	}
}
//Navigation brancd styling
.navbar-brand{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
} 

