// portfolio styles
//Styles for the home page Portfolio section
// Toggle button styles for the portfolio section
#toggle,#toggle2,#toggle3{
	padding: 5px;
}
#poptext,#poptext2,#poptext3 {
		background-color:$color_offwhite;
		height: 23px;
		font-size: 15px;
		padding-left: 23px;
		overflow: hidden;
		background: url('../images/arrows.png') no-repeat 5px 0px;
		cursor: pointer;
		margin: 0 0;
		border-radius: 10px;
		box-shadow: 0 0 10px 1px transparent;
		transition:box-shadow .5s;
		width: 80%;
		&:hover{
			box-shadow: 0 0 10px 1px $color_black;
	 	}
}
#box,#box2,#box3 {
	opacity: .7;
	z-index: 100;
	position:absolute;
	background-color: $color_black;
	display: none;
	text-shadow: 0 1px 2px #000;
	-webkit-border-radius:19px ;
	-moz-border-radius:19px ;
	border-radius:19px ;

}
#box h2,#box2 h2,#box3 h2 {
	font: normal 1.3em Amaranth; 
	color:#ff974e;
	text-align:left;
}

#box p,#box2 p,#box3 p {	
	color:#FFF;
	text-align:left;
}

#poptext.highlight,#poptext2.highlight,#poptext3.highlight {
  	background: url('../images/arrows.png') no-repeat 5px -18px transparent;
  }
  //col-
@media (max-width: 576px){
	#box,#box2,#box3 {
		margin-right: 2rem;
		margin-left: .5rem;
		padding: 1rem;
	}
	#box h2,#box2 h2,#box3 h2 {
		margin: 0;
		font-size: 1rem;
	}
	#box p,#box2 p,#box3 p {
		margin: 0;
		color:#FFF;
		text-align:left;
		font-size: .8rem;
	}
}
//col-sm
@media (min-width: 577px) and (max-width: 767px){
	#box,#box3 {
		margin-right: 3rem;
		padding: 1rem;
	}
	#box h2,#box3 h2 {
		margin: 0;
		font-size: 1rem;
	}
	#box p,#box2 p,#box3 p {
		margin: 0;
		font-size: .8rem;		
	}
}
//col-md
@media (min-width: 768px) and (max-width: 991px){
	#box,#box2,#box3 {
		margin-right: 2rem;
		padding: 1rem;
	}
	#box h2,#box2 h2,#box3 h2 {
		margin: 0;
		font-size: 1rem;
	}
	#box p,#box2 p,#box3 p {
		margin: 0;
		font-size: .8rem;		
	}
}
//col-lg
@media (min-width: 992px) and (max-width: 1199px){
	#box,#box2,#box3 {
		margin-right: 3rem;
		padding: 1.5rem;
	}
	#box h2,#box2 h2,#box3 h2 {
		margin: 0;
		font-size: 1.3rem;
	}
	#box p,#box2 p,#box3 p {
		margin: 0;
		font-size: 1rem;		
	}
}
//col-xl
@media (min-width: 1200px){
	#box,#box2,#box3 {
		margin-right: 4rem;
		padding: 2rem;
	}
	#box h2,#box2 h2,#box3 h2 {
		margin: 0;
		font-size: 2rem;
	}
	#box p,#box2 p,#box3 p {
		margin: 0;
		font-size: 1rem;		
	}
}
