@import url("https://fonts.googleapis.com/css?family=Croissant+One|Exo+2|Krona+One|Marcellus+SC|Taviraj");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
@media (min-width: 768px) {
  nav {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    height: 100px;
  }
  nav .navbar-nav {
    height: 100px;
    width: 100%;
  }
  nav .nav-item {
    width: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 60px;
    margin: 20px 10px;
    transition: height .3s;
  }
  nav .nav-item:hover {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .nav-item {
    margin: 0 auto;
    -webkit-transition: border-right 3s ease,border-left .5s ease;
    -moz-transition: border-right 3s ease,border-left .5s ease;
    -o-transition: border-right 3s ease,border-left .5s ease;
    -ms-transition: border-right 3s ease,border-left .5s ease;
    transition: border-right .5s ease-in,border-left .5s ease-in;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  .nav-item:hover {
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
}
.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.type_it {
  padding: 1rem;
  font-size: 2em;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .type_it {
    font-size: 1em;
  }
}

.jumbotron {
  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  height: 100vh;
}
.jumbotron h1 {
  color: #FFFFFF;
  margin: 0 auto;
}

.home_about img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.home_about p {
  padding: 1.5rem;
  border-radius: 1rem;
}
.home_about .img-thumbnail {
  border-radius: 1rem;
}

.hide_me {
  opacity: 0;
  background-color: #f7f7f7;
}

@media (min-width: 577px) and (max-width: 767px) {
  .home_about p {
    width: 80%;
    margin: 0 auto;
  }
  .home_about img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .home_about p {
    width: 80%;
    margin: 0 auto;
  }
  .home_about img {
    width: 300px;
    height: 300px;
  }
}
.home_contact {
  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  border-radius: 5rem;
}
.home_contact a {
  background-color: transparent;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-radius: 20px;
  font-size: 2rem;
  transition: background-color 1s;
}
.home_contact a:hover {
  background-color: white;
}
@media (max-width: 576px) {
  .home_contact {
    width: 90%;
    margin: 0 auto;
    border-radius: 5rem;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .home_contact {
    height: 50%;
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home_contact {
    width: 70%;
    margin: 0 auto;
    height: 70%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home_contact {
    width: 70%;
    margin: 0 auto;
    height: 80%;
  }
}
@media (min-width: 1200px) {
  .home_contact {
    width: 80%;
    margin: 0 auto;
    height: 90%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .home_portfolio .transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.1);
  }
  .home_portfolio img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    width: 250px;
    margin: .5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home_portfolio .transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.2);
  }
  .home_portfolio img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    width: 300px;
    margin: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home_portfolio .transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.2);
  }
  .home_portfolio img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    width: 380px;
    margin: 1rem;
  }
}
@media (min-width: 1200px) {
  .home_portfolio {
    width: 70%;
    margin: 0 auto;
  }
  .home_portfolio h3 {
    padding-bottom: 5rem;
    font-size: 2rem;
  }
  .home_portfolio #toggle2 {
    margin-left: 2rem;
    margin-right: -2rem;
  }
  .home_portfolio .transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.2);
  }
  .home_portfolio img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    width: 600px;
    margin: 1rem;
  }
}

#toggle, #toggle2, #toggle3 {
  padding: 5px;
}

#poptext, #poptext2, #poptext3 {
  background-color: #EEE8D6;
  height: 23px;
  font-size: 15px;
  padding-left: 23px;
  overflow: hidden;
  background: url("../images/arrows.png") no-repeat 5px 0px;
  cursor: pointer;
  margin: 0 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px transparent;
  transition: box-shadow .5s;
  width: 80%;
}
#poptext:hover, #poptext2:hover, #poptext3:hover {
  box-shadow: 0 0 10px 1px #000000;
}

#box, #box2, #box3 {
  opacity: .7;
  z-index: 100;
  position: absolute;
  background-color: #000000;
  display: none;
  text-shadow: 0 1px 2px #000;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
}

#box h2, #box2 h2, #box3 h2 {
  font: normal 1.3em Amaranth;
  color: #ff974e;
  text-align: left;
}

#box p, #box2 p, #box3 p {
  color: #FFF;
  text-align: left;
}

#poptext.highlight, #poptext2.highlight, #poptext3.highlight {
  background: url("../images/arrows.png") no-repeat 5px -18px transparent;
}

@media (max-width: 576px) {
  #box, #box2, #box3 {
    margin-right: 2rem;
    margin-left: .5rem;
    padding: 1rem;
  }

  #box h2, #box2 h2, #box3 h2 {
    margin: 0;
    font-size: 1rem;
  }

  #box p, #box2 p, #box3 p {
    margin: 0;
    color: #FFF;
    text-align: left;
    font-size: .8rem;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #box, #box3 {
    margin-right: 3rem;
    padding: 1rem;
  }

  #box h2, #box3 h2 {
    margin: 0;
    font-size: 1rem;
  }

  #box p, #box2 p, #box3 p {
    margin: 0;
    font-size: .8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #box, #box2, #box3 {
    margin-right: 2rem;
    padding: 1rem;
  }

  #box h2, #box2 h2, #box3 h2 {
    margin: 0;
    font-size: 1rem;
  }

  #box p, #box2 p, #box3 p {
    margin: 0;
    font-size: .8rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #box, #box2, #box3 {
    margin-right: 3rem;
    padding: 1.5rem;
  }

  #box h2, #box2 h2, #box3 h2 {
    margin: 0;
    font-size: 1.3rem;
  }

  #box p, #box2 p, #box3 p {
    margin: 0;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  #box, #box2, #box3 {
    margin-right: 4rem;
    padding: 2rem;
  }

  #box h2, #box2 h2, #box3 h2 {
    margin: 0;
    font-size: 2rem;
  }

  #box p, #box2 p, #box3 p {
    margin: 0;
    font-size: 1rem;
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  60% {
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  60% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  60% {
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
.arrow {
  position: relative;
  left: 21%;
  width: 15px;
  height: 15px;
  background-size: contain;
}

@media (max-width: 576px) {
  .arrow {
    left: 15%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .arrow {
    left: 15%;
  }
}
@media (min-width: 1200px) {
  .arrow {
    left: 8%;
  }
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.arrow_invisible {
  visibility: hidden;
}

body {
  font-family: 'Taviraj', serif;
  margin-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Croissant One', cursive;
}

#jumbotron {
  margin-bottom: 5rem;
}

#about_me {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#portfolio {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#contact_us {
  margin-top: 5rem;
}

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

@media (max-width: 576px) {
  body {
    font-family: 'Taviraj', serif;
    margin-top: 3rem;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  body {
    font-family: 'Taviraj', serif;
    margin-top: 3rem;
  }
}
