/**
 * index.scss
 * - Add any styles you want here!
 */
// @import "_reset.scss";
@import "_navigation.scss";
@import "_home_main.scss";

$color_black :#000000;
$color_blue : #00BFFF;
$color_white: #FFFFFF;


body {
  
}


.container{
	background-color: orange;
}
.navbar-brand{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
} 
img{
	width: 100%;
	height: 900px;
}